{{ 'style.css' | asset_url | stylesheet_tag }}
<script
  src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js"crossorigin="anonymous"defer></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"crossorigin="anonymous">
       <div class="grid">
       {% for block in section.blocks %}
              <img src="{{ block.settings.image | img_url : "poco" }}">
       {% endfor %}
        </div>
         
{% schema %}
  {
    "name": "icongreed",
    "settings": [
    ],
      "blocks":[
      {
        "type":"gallery",
        "name":"Galelry",
        "settings":[
         {
        "type":"image_picker",
        "id":"image",
        "label":"image"
          }
        ]
      }
    ],
     "presets":[
        {
        "name":"icongrid",
        "category":"gallery",
        "blocks":[
          {
            "type":"gallery"
          }
         
        ]
      }
    ]
  }
{% endschema %}
