
<script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
<div class="swiffy-slider slider-item-ratio slider-item-ratio-16x9 slider-nav-animation slider-nav-animation-fadein slider-item-first-visible" id="swiffy-animation">
    <ul class="slider-container" id="container1">
       {% for block in section.blocks %}
        <li> <img src="{{ block.settings.image | img_url : "master" }}" style="max-width: 100%;height: auto;"></li>
     {% endfor %}
    </ul>

    <div class="slider-indicators">
        <button aria-label="Go to slide" class="active"></button>
        <button aria-label="Go to slide"></button>
      <button aria-label="Go to slide"></button>
        
    </div>
</div>

{% schema %}
  {
    "name": "Sectionname",
    "settings": [
    ],
      "blocks":[
      {
        "type":"gallery",
        "name":"Galelry",
        "settings":[
         {
        "type":"image_picker",
        "id":"image",
        "label":"image"
          }
        ]
      }
    ],
     "presets":[
        {
        "name":"slider",
        "category":"gallery",
        "blocks":[
          {
            "type":"gallery"
          }
         
        ]
      }
    ]
  }
{% endschema %}
